# Environment
.idea
.vscode
.DS_Store

/vendor/
/local/
/coverage.out
/coverage.html
dandu.yaml
fl.yml
go.mod
iiiinodepopre.yaml
karpenter-oci
karpenter-oci.a
nodeclass-no.yaml
nodeclass.yaml
nodepo.yaml
nohup.out
old.tar.gz
cmd/controller/__debug_bin1638177832
cmd/controller/__debug_bin3907439809
empty/.dockerignore
.gitignore
go.mod
empty/.gitignore
empty/.golangci.yml
empty/Dockerfile
empty/go.sum
empty/Makefile
empty/PROJECT
empty/README.md
empty/.devcontainer/devcontainer.json
empty/.devcontainer/post-install.sh
empty/.github/workflows/lint.yml
empty/.github/workflows/test-e2e.yml
.gitignore
go.mod
empty/.github/workflows/test.yml
empty/config/default/cert_metrics_manager_patch.yaml
empty/config/default/kustomization.yaml
empty/config/default/manager_metrics_patch.yaml
empty/config/default/metrics_service.yaml
empty/config/manager/kustomization.yaml
empty/config/manager/manager.yaml
empty/config/network-policy/allow-metrics-traffic.yaml
empty/config/network-policy/kustomization.yaml
empty/config/prometheus/kustomization.yaml
empty/config/prometheus/monitor_tls_patch.yaml
empty/config/prometheus/monitor.yaml
empty/config/rbac/kustomization.yaml
empty/config/rbac/leader_election_role_binding.yaml
empty/config/rbac/leader_election_role.yaml
empty/config/rbac/metrics_auth_role_binding.yaml
empty/config/rbac/metrics_auth_role.yaml
empty/config/rbac/metrics_reader_role.yaml
empty/config/rbac/role_binding.yaml
empty/config/rbac/role.yaml
empty/config/rbac/service_account.yaml
empty/hack/boilerplate.go.txt
empty/test/e2e/e2e_suite_test.go
empty/test/e2e/e2e_test.go
hack/min.tar.gz
empty/test/utils/utils.go
